certifi==2019.6.16
chardet==3.0.4
Django==2.2.3
django-replicated==2.6.1
djangorestframework==3.11.2
idna==2.6
mysqlclient==1.4.4
pdfminer.six==20181108
pycryptodome==3.8.2
pytz==2019.1
requests==2.18.4
six==1.12.0
sortedcontainers==2.1.0
sqlparse==0.3.0
urllib3==1.22
